:host {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

div {
  border-radius: 1em;
  padding: 1em;
  font-size: 18px;
  margin: 0;
  background-color: var(--color-2)
}

.my-message {
  background-color: #3d98ff;
  margin-left: auto;

}
