<div class="chat-controls">
  <div class="back" (click)="backClicked()"></div>
  <div class="chat-name">
    <input #prompt type="text" [value]="activeChat?.name" (keyup.enter)="changeChatName(prompt)"/>
  </div>
  <app-invite-applet [activeChatId]="activeChatId"></app-invite-applet>
</div>
<div #message_box>
  <app-message-box (reachedTop)="fetchNextPage()" [messages]="messages"></app-message-box>
</div>
<div>
  <app-message-prompt (messageSend)="sendMessage($event)"></app-message-prompt>
</div>
